<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>
    <application>
        <activity
            android:name=".SttCapabilityDebugActivity"
            android:exported="true"
            android:label="@string/debug_stt_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            tools:node="remove" />
        <activity
            android:name=".TextComposerDebugActivity"
            android:exported="false"
            android:label="@string/debug_text_composer_label" />
    </application>
</manifest>
